@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  min-width: 1580;
  height: 100vh;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;

}

.header {
  position: relative;
  width: 98.9vw;
  height: 530px;
  display: flex;
  flex-direction: column;
  background-color: #290742;
  align-items: center;
  padding-top: 54px;
  border-bottom: 5px solid var(--green);

}

.menu ul {
  display: flex;
  align-items: center;
  margin-bottom: 65px;



}

.menu a {
  position: relative;
  left: 176px;
  margin-left: 46px;
  text-decoration: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #FFFFFF;
  transition: 0.2s;
}

.menu a:hover {
  border-left: 2px solid var(--green);
  padding: 2px;
  transition: 0.2s;
}

form {
  margin-left: 18.8rem;
}


#search {
  padding: 15px;
  width: 230px;
  height: 44px;

  outline: none;
  border: none;
  border-radius: 4px 0px 0px 4px;
  color: var(--light-purple);
  background-color: var(--dark-bg);

}

.menu button {
  position: relative;
  top: 4px;
  left: -4px;
  width: 70px;
  height: 44px;
  cursor: pointer;
  border: none;

  background-color: var(--button-bg);
  border-radius: 0px 4px 4px 0px;

  transition: 0.3s;
}
.menu button:hover{
  background-color: rgb(95, 1, 95);
  transition: 0.3s;
}

#featured-image {
  position: relative;
  width: 570px;
  height: 346px;
  left: 306px;
  top: -320px;

  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.header h2 {
  width: 490px;

  margin-right: 19.4em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */


  color: var(--button-bg);
}

.header p {

  width: 440px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-purple);
}

#explore {
  text-decoration: none;
  width: 80px;
  height: 27px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 75px;
  color: var(--button-bg);
}


#btn-arrow {
  position: relative;
  left: 10px;
  top: 6px;
  transition: 0.3s;
}
#btn-arrow:hover{
  scale: 1.7;
  transition: 0.3s;
}

.pages {
  display: grid;
  grid-template-areas:
    'post-1 post-1 post-2'
    'post-1 post-1 post-3';
  justify-content: space-evenly;
  padding: 63px 120px 0 120px;
}

figcaption {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
}

.pages h2 {
  width: 569px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: var(--purple-bg);
  /* identical to box height, or 150% */
}

.pages p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.post-1 p {
  width: 569px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


}

.post-2 h2 {
  width: 467.74px;
}

.post-2 p {
  width: 471px;
  height: 76px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.post-1 {
  grid-area: post-1;
}

.post-2 {
  grid-area: post-2;
}

.post-3 {
  grid-area: post-3;
  width: 468px;

  padding-bottom: 100px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}


.post-contents {

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 28px;

  padding-bottom: 60px;
}

.box1 h2 {
  width: 370px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */



  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.box1 p {
  width: 370px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.box2 h2 {
  width: 370px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.box2 p {
  width: 370px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.box3 h2 {
  width: 370px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.box3 p {
  width: 370px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}